h1 {
    padding-top: 1.5em;
}

#lista {
    padding-left: 4.375em;
}

li {
    color: rgba(185, 245, 245);
    list-style-type: disc;
}

blockquote {
    font-family: initial;
    padding: 0px 10px 10px 10px;
    background-color: rgba(185, 245, 245, 0.733);
    border-radius: 0.625em;                                        /* StoneBal(KB) */
    margin: 0 3.15em;
    max-width: 950px;
    margin-top: 0.625em;
    
}

em {
    font-style: italic;
}