/* === Egyéni formázás === */

sub {
    font: 1rem 'Fira Sans', sans-serif;
}

b {
    font-weight: bold;
    text-transform: capitalize;
}

/* === Táblázat === */

table {
    margin: 1.5em auto;
}

table, th, td {
    background-color: rgba(185, 245, 245, 0.733);
    color: black;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

th {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

th, td {
    border: 1px solid black;
}

/* === Kép === */

img {
    width: 285px;
    height: 500px;
    display: block;
    margin: 0 auto;
}

@media (min-width: 1200px) {
    figure {
        float: left;
    }

    img {
        padding-top: 1.56em;
        padding-right: 1.56em;
        margin-left: 5em;
    }

    h2, p, figure {
        max-width: calc(100vw - 250px);
        margin-left: 100px;
    }
    
}