img {
    width: 285px;
    height: 500px;
    display: block;
    margin: 0 auto;
}

table {
    margin: auto;
}

#utolso {
    margin-bottom: 1.5em;
}

table, th, td {
    background-color: rgba(185, 245, 245, 0.733);
    color: black;
    padding: 10px;
    border-radius: 10px;
    margin-right: 20px;
}

th {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}                                       /* StoneBal(KB) */

th, td {
    border: 1px solid black;
}

b {
    font-weight: bold;
    text-transform: capitalize;
}

@media (min-width: 1200px) {
    img {
        float: left;
        padding: 25px 10px 50px;
        margin-left: 1em;
    }

    table {
        margin-left: 1em;
    }
}