.konyv {
    display: inline-block;
}

img {
    width: 285px;
    height: 500px;
    display: block;
    margin: 0 auto;
}

@media (min-width: 1200px) {
    img {
        float: left;
        padding-top: 25px;
        padding-right: 50px;
    }
}

                                            /* StoneBal(KB) */
