* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

html, body {
    font-size: 1.05em;
    line-height: 1.25em;    
    font-family: Arial, Helvetica, sans-serif;
}

/* === Háttér === */

html {
    background: url('../kep/HP_hatter2.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* === h1, h2, p  === */

h1, h2 {
    font-family: 'EB Garamond', serif;
    color: gold;
    padding: 0.65em;
    line-height: 1.1em;
}

h1 {
    font-size: 2.5em;
    text-align: center;
}

h2 {
    font-size: 2em;
}

p {
    font-size: 1.07em;
    line-height: 1.52em;
    padding: 1.25em;
    color: rgba(185, 245, 245);
}

/* === Felső menüsor  === */

.menu {
    text-align: center;
    font-family: "fantasy";
    font-size: 3.0em;
    background-image: url(../kep/HP_logó.jpg);
    background-size: 300%;
    background-repeat: no-repeat;
    padding: 1em 0 1em 0;
}

.button {
    display: inline-block;
    border: 1px solid black;
    padding: 20px;
    margin: 5px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px black;
}

.button:hover {
    color: rgba(255, 0, 0, .3);
    border-color: rgba(255, 0, 0, .3);
    transition: all 0.6s ease-in-out;
}



/* === Linkek === */

a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(208, 216, 94, 0.555);
    text-decoration: none;
    margin: 3px;
    padding: 3px;
}

a:hover {
    color:rgb(197, 31, 31);
    transition: all 0.9s ease-in-out;
}

/* === Oldal alja === */

.fel_nyil {
    display: block;
    text-align: center;
}

footer {
    text-align: center;
}

.forras_ {
    background-color: rgba(0, 0, 0, .2);
}

/* === Gombok, aldolalakhoz === */

#resz {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 1.5em;
}

.button_resz {
    display: inline-block;
    border: 1px solid rgba(249, 253, 3, 0.589);
    padding: 5px;
    margin: 5px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px black;
}

.button_resz:hover {
    color: rgba(173, 68, 68, 0.781);
    border-color: rgba(173, 68, 68, 0.781);
    transition: all 0.1s ease-in-out;
}
